.textBox{
    width: 200px; 
}                 
.textBox .MuiInputBase-input{
      padding: 7px 9px;          
      font-size: 0.75rem  ;         
}
.textBox .MuiInputLabel-root {
      font-size: 0.75rem;            
}
